@import "src/styles/variables";

textarea, pre, .container {
  width: 100%;
  height: 100%;
}
pre {
  margin: 0;
}

textarea {
  min-height: 20rem;
  resize: none;
  overflow: auto;
  white-space: nowrap;
}

::ng-deep snippet-highlight *{
  margin: 0 !important;
}

::ng-deep snippet-highlight .dark .code-toolbar {
  .toolbar {
    a {
      background: $highlight-palette !important;
    }
    span {
      background: $highlight-palette !important;
    }
  }
  pre {
    border-top-color: $highlight-palette !important;
  }
}

::ng-deep snippet-highlight .light .code-toolbar {
  .toolbar {
    a {
      background: $dark-palette !important;
    }
    span {
      background: $dark-palette !important;
    }
  }
  pre {
    border-top-color: $dark-palette !important;
  }
}
