
@import "src/styles/variables";

::ng-deep snippet-highlight *{
  margin: 0 !important;
}

::ng-deep snippet-highlight .dark .code-toolbar {
  .toolbar {
    a {
      background: $highlight-palette !important;
    }
    span {
      background: $highlight-palette !important;
    }
  }
  pre {
    border-top-color: $highlight-palette !important;
  }
}

::ng-deep snippet-highlight .light .code-toolbar {
  .toolbar {
    a {
      background: $dark-palette !important;
    }
    span {
      background: $dark-palette !important;
    }
  }
  pre {
    border-top-color: $dark-palette !important;
  }
}
