<div id="buttons">
  <div>
    <button nbButton shape="round" (click)="onLike(likeType.DISLIKE)"><img src="../../../../assets/dislike.png" alt="This button dislikes this codesnippet"/></button>
  </div>
  <div>
    <button nbButton shape="round" (click)="onLike(likeType.SUPERLIKE)"><img src="../../../../assets/superlike.png" alt="This button superlikes this codesnippet"/></button>
  </div>
  <div>
    <button nbButton shape="round" (click)="onLike(likeType.LIKE)"><img src="../../../../assets/like.png" alt="This button likes this codesnippet"/></button>
  </div>
</div>
