@import "src/styles/variables";

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr;
}

div {
  text-align: center;
}

img {
  height: 3rem;
  width: 3rem;
  @include small() {
    width: 2rem;
    height: 2rem;
  }
}
