@mixin small {
  @media (max-width: 599px) { @content; }
}
@mixin medium {
  @media (max-width: 800px) { @content; }
}
@mixin large {
  @media (max-width: 1000px) { @content; }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 0.75rem;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: 0.75rem;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

$light-palette: #D8E5E4;
$medium-palette: #83C9A1;
$dark-palette: #1576AB;
$highlight-palette: #AD4F1C;

//$headerHeight: 4rem;
//$thetransition: all .5s cubic-bezier(1,.25,0,.75) 0s;


