@mixin small {
  @media (max-width: 599px) { @content; }
}
@mixin medium {
  @media (max-width: 800px) { @content; }
}
@mixin large {
  @media (max-width: 1000px) { @content; }
}
$light-palette: #bcdcd2;
$medium-palette: #7FDCC9;
$dark-palette: #335770;
$highlight-palette: #335770;

//$headerHeight: 4rem;
//$thetransition: all .5s cubic-bezier(1,.25,0,.75) 0s;


