<div>
  <div id="PotentialMatchName">
    {{ currentPotentialMatch.first_name }} {{ currentPotentialMatch.middle_name }} {{ currentPotentialMatch.last_name }}
  </div>

  <div>
    <textarea>codesnippet</textarea>
  </div>

  <div id="PotentialMatchAge">
    {{ getAgeOfPotentialMatch() }}
  </div>

  <div id="PotentialMatchAboutMe">
    {{ currentPotentialMatch.about_me }}
  </div>
</div>

<app-match-buttons [currentPotentialMatch]="currentPotentialMatch" (buttonClick)="onButtonClick($event)"></app-match-buttons>
