@import "src/styles/variables";

#flip-card-button-div {
  max-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#match-flip-card {
  margin: auto;
  margin-top: 7vh;

  height: 64vh;
  width: 39rem;

  border-radius: 25px;

  grid-column-start: 2;
}

#flip-button-div {
  margin-top: 3vh;

  display: flex;
  justify-content: center;

  grid-column-start: 2;
  grid-row-start: 2;
}

#flip-button {
  cursor: pointer;
}

#match-info-card-front {
  border-radius: 25px;
}

#match-info-card-back {
  border-radius: 25px;
}

#match-info-body-front {

  height: 64vh;
  width: 39rem;

  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.4fr 1fr 1fr 0.9fr 0.7fr;
}

#match-info-body-back {
  height: 64vh;
  width: 39rem;

  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.35fr 0.1fr 1fr 0.7fr 0.7fr;
}

#code-snippet {
  grid-column: 2/5;
  grid-row: 2/4;
}

#code-snippet-content {
  width: 100%;
  height: 100%;
}

.potential-match-name-list {
  grid-column: 2/4;
  grid-row-start: 1;

  display: grid;
  grid-template-columns: 0.2fr 1fr ;
}

.potential-match-name {
  grid-column-start: 2;
  margin-top: 1.3vh;
}

.dot {
  margin-top: 0.7vh;
  margin-left: 1vw;
  margin-right: 0.5vw;
  height: 35px;
  width: 35px;
  background-color: $dark-palette;
  border-radius: 50%;
}

.dark {
  background-color: $highlight-palette !important;
}

.dotText{
  font-size: 20px;
  margin-top: 0.75vh;
  color: white;
  text-align: center;
}

#match-buttons {
  margin-top: 0.5vh;

  grid-column: 2/5;
  grid-row-start: 5;
}

#potential-match-age {
  grid-column-start: 4;
  grid-row-start: 1;
  margin-top: 1.3vh;
}

#about-me-list {
  grid-column: 2/5;
  grid-row: 3/5;

  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr ;
}

#potential-match-about-me {
  grid-column: 2/5;
}

.nb-shuffle { cursor: pointer; }

img {
  max-height: 50px;
  max-width: 50px;
}

#noPotentialMatches{
  display: none;
  visibility: hidden;

  color: $medium-palette;
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  font-size: 1em;

  grid-column: 3/4;
  grid-row-start: 3;
}

.noMatches {
  display: none;
  visibility: hidden;
}

.noMatchNotification {
  display: revert !important;
  visibility: visible !important;
}
