<div id="flip-card-div">

  <nb-flip-card id="match-flip-card" [showToggleButton]="false" [flipped]="cardFlipped"
                [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
    <nb-card-front>
      <nb-card class="match-info-card">
        <nb-card-body id="match-info-body-front-grid" class="match-info-body" *ngIf="!loading">

          <div id="noPotentialMatches" *ngIf="!hasMatches && currentUserHasCodesnippets">
            There are no more potential matches for your preferences right now, Enjoy!
          </div>

          <div id="noCurrentUserCodesnippet" *ngIf="!currentUserHasCodesnippets">
            You have no codesnippet set up yet! Please head over to the profile page to create one first.
          </div>

          <div id="noCodesnippetProfileRouting" *ngIf="!currentUserHasCodesnippets">
            <button nbButton hero status="success" routerLink="/profile" routerLinkActive="active">Go to profile</button>
          </div>

          <div class="potential-match-name-grid" *ngIf="hasMatches && currentUserHasCodesnippets">
            <div class="firstnameLetterDot" [ngClass]="{'darkTheme' : codesnippetDarkTheme}">
              <div class="dotText">
                {{ getFirstLetterOfPotentialMatchName() }}
              </div>
            </div>
            <div class="potential-match-name">
              {{ getNameOfPotentialMatch() }}
            </div>
          </div>

          <div id="code-snippet" *ngIf="hasMatches && currentUserHasCodesnippets">
              <app-content [codesnippet]="codesnippet"></app-content>
          </div>

          <app-match-buttons id="match-buttons" [currentPotentialMatch]="currentPotentialMatch"
                             *ngIf="hasMatches && currentUserHasCodesnippets"
                             (buttonClick)="onButtonClick($event)"></app-match-buttons>

        </nb-card-body>
      </nb-card>
    </nb-card-front>

    <nb-card-back>
      <nb-card class="match-info-card">
        <nb-card-body id="match-info-body-back-grid" class="match-info-body">

          <div class="potential-match-name-grid">
            <div class="firstnameLetterDot" [ngClass]="{'darkTheme' : codesnippetDarkTheme}">
              <div class="dotText">
                {{ getFirstLetterOfPotentialMatchName() }}
              </div>
            </div>
            <div class="potential-match-name">
              {{ getNameOfPotentialMatch() }}
            </div>
          </div>

          <div id="about-me-grid">
            <div id="potential-match-about-me">
              {{ currentPotentialMatch.about_me }}
            </div>
          </div>

        </nb-card-body>
      </nb-card>
    </nb-card-back>

  </nb-flip-card>

</div>

<div id="flip-button-div" *ngIf="hasMatches && currentUserHasCodesnippets">
  <i (click)="flipCard()" id="flip-button">
    <img alt="rotate icon" src="/assets/rotation.jpg"/>
  </i>
</div>
