@import "src/styles/variables";

::ng-deep nb-chat-message .avatar {
  display: none!important;
}

::ng-deep nb-chat nb-chat-form button {
    background-color: $highlight-palette!important;
    border-color: $highlight-palette!important;
}

::ng-deep nb-chat nb-chat-form button:hover {
  background-color: lighten($highlight-palette, 10%)!important;
}

::ng-deep nb-chat nb-chat-form button:hover,
::ng-deep nb-chat nb-chat-form input:focus {
  border-color: lighten($highlight-palette, 10%)!important;
}

::ng-deep nb-chat nb-chat-message.not-reply nb-chat-message-text .text {
  background-color: $dark-palette!important;
}

::ng-deep nb-chat nb-chat-message.reply nb-chat-message-text .text {
  color: $dark-palette!important;
  background-color: lighten($dark-palette, 55%)!important;
}

::ng-deep nb-chat nb-chat-form input,
::ng-deep nb-chat nb-chat-form input:focus {
  color: #8f9bb3!important;
}


