<form (ngSubmit)="onSubmit()" #form="ngForm" aria-labelledby="title">

  <ng-container *ngIf="isTwoColumnLayout(); else singleColumn">

    <div class="form-row">

      <div class="form-column">

        <div class="form-control-group">
          <label class="label" for="input-email">Email address:</label>
          <input nbInput
                 [(ngModel)]="user.email"
                 #email="ngModel"
                 id="input-email"
                 name="email"
                 pattern=".+@.+..+"
                 placeholder="Email address"
                 fullWidth
                 fieldSize="large"
                 [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
                 [required]="getConfigValue('forms.validation.email.required')"
                 [attr.aria-invalid]="email.invalid && email.touched ? true : null">
          <ng-container *ngIf="email.invalid && email.touched">
            <p class="caption status-danger" *ngIf="email.errors?.required">
              Email is required!
            </p>
            <p class="caption status-danger" *ngIf="email.errors?.pattern">
              Email should be the real one!
            </p>
          </ng-container>
        </div>

        <div class="form-control-group">
          <label class="label" for="input-password">Password:</label>
          <input nbInput
                 [(ngModel)]="user.password"
                 #password="ngModel"
                 type="password"
                 id="input-password"
                 name="password"
                 placeholder="Password"
                 fullWidth
                 fieldSize="large"
                 [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
                 [required]="getConfigValue('forms.validation.password.required')"
                 [minlength]="getConfigValue('forms.validation.password.minLength')"
                 [maxlength]="getConfigValue('forms.validation.password.maxLength')"
                 [attr.aria-invalid]="password.invalid && password.touched ? true : null">
          <ng-container *ngIf="password.invalid && password.touched">
            <p class="caption status-danger" *ngIf="password.errors?.required">
              Password is required!
            </p>
            <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
              Password should contain
              from {{ getConfigValue('forms.validation.password.minLength') }}
              to {{ getConfigValue('forms.validation.password.maxLength') }}
              characters
            </p>
          </ng-container>
        </div>

        <div class="form-control-group">
          <label class="label" for="input-re-password">Repeat password:</label>
          <input nbInput
                 [(ngModel)]="user.confirmPassword"
                 #rePass="ngModel"
                 type="password"
                 id="input-re-password"
                 name="rePass"
                 placeholder="Confirm Password"
                 fullWidth
                 fieldSize="large"
                 [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : 'basic'"
                 [required]="getConfigValue('forms.validation.password.required')"
                 [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
          <ng-container *ngIf="rePass.invalid && rePass.touched">
            <p class="caption status-danger" *ngIf="rePass.errors?.required">
              Password confirmation is required!
            </p>
            <p class="caption status-danger" *ngIf="password.value != rePass.value && !rePass.errors?.required">
              Password does not match the confirm password.
            </p>
          </ng-container>
        </div>
      </div>

      <div class="form-column">

        <div class="form-control-inline-group">

          <div class="form-control-group">

            <label class="label" for="input-first_name">First name:</label>
            <input nbInput
                   [(ngModel)]="user.first_name"
                   #firstName="ngModel"
                   id="input-first_name"
                   name="first_name"
                   placeholder="First name"
                   autofocus
                   fullWidth
                   fieldSize="large"
                   [status]="firstName.dirty ? (firstName.invalid  ? 'danger' : 'success') : 'basic'"
                   [required]="getConfigValue('forms.validation.firstName.required')"
                   [minlength]="getConfigValue('forms.validation.firstName.minLength')"
                   [maxlength]="getConfigValue('forms.validation.firstName.maxLength')"
                   [attr.aria-invalid]="firstName.invalid && firstName.touched ? true : null">
            <ng-container *ngIf="firstName.invalid && firstName.touched">
              <p class="caption status-danger" *ngIf="firstName.errors?.required">
                First name is required!
              </p>
              <p class="caption status-danger" *ngIf="firstName.errors?.minlength || firstName.errors?.maxlength">
                Full name should contains
                from {{getConfigValue('forms.validation.firstName.minLength')}}
                to {{getConfigValue('forms.validation.firstName.maxLength')}}
                characters
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <label class="label" for="input-middle_name">Middle name:</label>
            <input nbInput
                   [(ngModel)]="user.middle_name"
                   #middleName="ngModel"
                   id="input-middle_name"
                   name="last_name"
                   placeholder="Middle name"
                   autofocus
                   fullWidth
                   fieldSize="large"
                   [status]="middleName.dirty ? (middleName.invalid  ? 'danger' : 'success') : 'basic'"
                   [minlength]="getConfigValue('forms.validation.middleName.minLength')"
                   [maxlength]="getConfigValue('forms.validation.middleName.maxLength')"
                   [attr.aria-invalid]="middleName.invalid && middleName.touched ? true : null">
            <ng-container *ngIf="middleName.invalid && middleName.touched">
              <p class="caption status-danger" *ngIf="middleName.errors?.minlength || middleName.errors?.maxlength">
                Middle name should contains
                from {{getConfigValue('forms.validation.middleName.minLength')}}
                to {{getConfigValue('forms.validation.middleName.maxLength')}}
                characters
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <label class="label" for="input-last_name">Last name:</label>
            <input nbInput
                   [(ngModel)]="user.last_name"
                   #lastName="ngModel"
                   id="input-last_name"
                   name="middle_name"
                   placeholder="Last name"
                   autofocus
                   fullWidth
                   fieldSize="large"
                   [status]="lastName.dirty ? (lastName.invalid  ? 'danger' : 'success') : 'basic'"
                   [required]="getConfigValue('forms.validation.lastName.required')"
                   [minlength]="getConfigValue('forms.validation.lastName.minLength')"
                   [maxlength]="getConfigValue('forms.validation.lastName.maxLength')"
                   [attr.aria-invalid]="lastName.invalid && lastName.touched ? true : null">
            <ng-container *ngIf="lastName.invalid && lastName.touched">
              <p class="caption status-danger" *ngIf="lastName.errors?.required">
                Last name is required!
              </p>
              <p class="caption status-danger" *ngIf="lastName.errors?.minlength || lastName.errors?.maxlength">
                Last name should contains
                from {{getConfigValue('forms.validation.lastName.minLength')}}
                to {{getConfigValue('forms.validation.lastName.maxLength')}}
                characters
              </p>
            </ng-container>

          </div>

        </div>


        <div class="form-control-group">
          <label class="label" for="input-date_of_birth">Date of birth:</label>
          <input
            nbInput
            fullWidth
            [nbDatepicker]="datepicker"
            [(ngModel)]="user.date_of_birth"
            #dateOfBirth="ngModel"
            id="input-date_of_birth"
            name="date_of_birth"
            placeholder="Date of birth"
            required
            [status]="dateOfBirth.dirty ? (dateOfBirth.invalid  ? 'danger' : 'success') : 'basic'">
          <nb-datepicker [date]="'10-06-2021'" #datepicker></nb-datepicker>
        </div>

        <div class="form-control-group">
          <label class="label" for="input-gender">Gender:</label>
          <nb-select
            id="input-gender"
            fullWidth
            placeholder="Gender"
            [(selected)]="user.gender">
            <nb-option value="male">Male</nb-option>
            <nb-option value="female">Female</nb-option>
          </nb-select>
        </div>
      </div>
    </div>

  </ng-container>

  <ng-template #singleColumn>

    <div class="form-control-group">
      <label class="label" for="single-column-input-email">Email address:</label>
      <input nbInput
             [(ngModel)]="user.email"
             #email="ngModel"
             id="single-column-input-email"
             name="email"
             pattern=".+@.+..+"
             placeholder="Email address"
             fullWidth
             fieldSize="large"
             [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
             [required]="getConfigValue('forms.validation.email.required')"
             [attr.aria-invalid]="email.invalid && email.touched ? true : null">

      <ng-container *ngIf="email.invalid && email.touched">
        <p class="caption status-danger" *ngIf="email.errors?.required">
          Email is required!
        </p>
        <p class="caption status-danger" *ngIf="email.errors?.pattern">
          Email should be the real one!
        </p>
      </ng-container>

    </div>

    <div class="form-control-group">
      <label class="label" for="single-column-input-password">Password:</label>
      <input nbInput
             [(ngModel)]="user.password"
             #password="ngModel"
             type="password"
             id="single-column-input-password"
             name="password"
             placeholder="Password"
             fullWidth
             fieldSize="large"
             [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
             [required]="getConfigValue('forms.validation.password.required')"
             [minlength]="getConfigValue('forms.validation.password.minLength')"
             [maxlength]="getConfigValue('forms.validation.password.maxLength')"
             [attr.aria-invalid]="password.invalid && password.touched ? true : null">
      <ng-container *ngIf="password.invalid && password.touched">
        <p class="caption status-danger" *ngIf="password.errors?.required">
          Password is required!
        </p>
        <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
          Password should contain
          from {{ getConfigValue('forms.validation.password.minLength') }}
          to {{ getConfigValue('forms.validation.password.maxLength') }}
          characters
        </p>
      </ng-container>
    </div>

    <div class="form-control-group">
      <label class="label" for="single-column-input-re-password">Repeat password:</label>
      <input nbInput
             [(ngModel)]="user.confirmPassword"
             #rePass="ngModel"
             type="password"
             id="single-column-input-re-password"
             name="rePass"
             placeholder="Confirm Password"
             fullWidth
             fieldSize="large"
             [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : 'basic'"
             [required]="getConfigValue('forms.validation.password.required')"
             [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">

      <ng-container *ngIf="rePass.invalid && rePass.touched">
        <p class="caption status-danger" *ngIf="rePass.errors?.required">
          Password confirmation is required!
        </p>
        <p class="caption status-danger" *ngIf="password.value != rePass.value && !rePass.errors?.required">
          Password does not match the confirm password.
        </p>
      </ng-container>

    </div>

    <div class="form-control-inline-group">

      <div class="form-control-group">

        <label class="label" for="single-column-input-first_name">First name:</label>
        <input nbInput
               [(ngModel)]="user.first_name"
               #firstName="ngModel"
               id="single-column-input-first_name"
               name="first_name"
               placeholder="First name"
               autofocus
               fullWidth
               fieldSize="large"
               [status]="firstName.dirty ? (firstName.invalid  ? 'danger' : 'success') : 'basic'"
               [required]="getConfigValue('forms.validation.firstName.required')"
               [minlength]="getConfigValue('forms.validation.firstName.minLength')"
               [maxlength]="getConfigValue('forms.validation.firstName.maxLength')"
               [attr.aria-invalid]="firstName.invalid && firstName.touched ? true : null">

        <ng-container *ngIf="firstName.invalid && firstName.touched">
          <p class="caption status-danger" *ngIf="firstName.errors?.required">
            First name is required!
          </p>
          <p class="caption status-danger" *ngIf="firstName.errors?.minlength || firstName.errors?.maxlength">
            Full name should contains
            from {{getConfigValue('forms.validation.firstName.minLength')}}
            to {{getConfigValue('forms.validation.firstName.maxLength')}}
            characters
          </p>
        </ng-container>

      </div>
      <div class="form-control-group">
        <label class="label" for="single-column-input-middle_name">Middle name:</label>
        <input nbInput
               [(ngModel)]="user.middle_name"
               #middleName="ngModel"
               id="single-column-input-middle_name"
               name="last_name"
               placeholder="Middle name"
               autofocus
               fullWidth
               fieldSize="large"
               [status]="middleName.dirty ? (middleName.invalid  ? 'danger' : 'success') : 'basic'"
               [minlength]="getConfigValue('forms.validation.middleName.minLength')"
               [maxlength]="getConfigValue('forms.validation.middleName.maxLength')"
               [attr.aria-invalid]="middleName.invalid && middleName.touched ? true : null">

        <ng-container *ngIf="middleName.invalid && middleName.touched">
          <p class="caption status-danger" *ngIf="middleName.errors?.minlength || middleName.errors?.maxlength">
            Middle name should contains
            from {{getConfigValue('forms.validation.middleName.minLength')}}
            to {{getConfigValue('forms.validation.middleName.maxLength')}}
            characters
          </p>
        </ng-container>

      </div>
      <div class="form-control-group">
        <label class="label" for="single-column-input-last_name">Last name:</label>
        <input nbInput
               [(ngModel)]="user.last_name"
               #lastName="ngModel"
               id="single-column-input-last_name"
               name="middle_name"
               placeholder="Last name"
               autofocus
               fullWidth
               fieldSize="large"
               [status]="lastName.dirty ? (lastName.invalid  ? 'danger' : 'success') : 'basic'"
               [required]="getConfigValue('forms.validation.lastName.required')"
               [minlength]="getConfigValue('forms.validation.lastName.minLength')"
               [maxlength]="getConfigValue('forms.validation.lastName.maxLength')"
               [attr.aria-invalid]="lastName.invalid && lastName.touched ? true : null">

        <ng-container *ngIf="lastName.invalid && lastName.touched">
          <p class="caption status-danger" *ngIf="lastName.errors?.required">
            Last name is required!
          </p>
          <p class="caption status-danger" *ngIf="lastName.errors?.minlength || lastName.errors?.maxlength">
            Last name should contains
            from {{getConfigValue('forms.validation.lastName.minLength')}}
            to {{getConfigValue('forms.validation.lastName.maxLength')}}
            characters
          </p>
        </ng-container>

      </div>

    </div>

    <div class="form-control-inline-group">
      <div class="form-control-group">
        <label class="label" for="single-column-input-date_of_birth">Date of birth:</label>
        <input
          nbInput
          [nbDatepicker]="datepicker"
          [(ngModel)]="user.date_of_birth"
          #dateOfBirth="ngModel"
          id="single-column-input-date_of_birth"
          name="date_of_birth"
          placeholder="dd-mm-yyyy"
          fullWidth
          fieldSize="large"
          [status]="dateOfBirth.touched ? (dateOfBirth.invalid  ? 'danger' : 'success') : 'basic'"
          [required]="getConfigValue('forms.validation.dateOfBirth.required')">
        <nb-datepicker #datepicker></nb-datepicker>
        <ng-container *ngIf="dateOfBirth.invalid && dateOfBirth.touched">
          <p class="caption status-danger" *ngIf="dateOfBirth.errors?.required">
            Date of birth is required!
          </p>
        </ng-container>
      </div>

      <div class="form-control-group">
        <label class="label" for="single-column-input-gender">Gender:</label>
        <nb-select
          id="single-column-input-gender"
          fullWidth
          placeholder="Gender"
          [(selected)]="user.gender">
          <nb-option value="male">Male</nb-option>
          <nb-option value="female">Female</nb-option>
        </nb-select>
      </div>

    </div>
  </ng-template>

  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
    {{ submitButtonText }}
  </button>
</form>
