@import "src/styles/variables";

nb-card {
  width: 25rem;
  height: auto;
}

.round {
  $radius: .75rem;
  border-radius: $radius;
}
::ng-deep textarea {
  @include scrollbars(.5em, slategray);

}
.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center
}

.textarea {
  width: 100%;
}

.saveAndDelete {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin: 1rem 0;
  padding: 0 1rem;

  .submit *, .delete *{
    width: 8rem;
  }
  .submit ::ng-deep button{
    background-color: $dark-palette !important;
    border-color: $dark-palette !important;
  }
  .delete ::ng-deep button {
    background-color: $highlight-palette !important;
    border-color: $highlight-palette !important;
  }

}

.themeAndLanguage {
  nb-select ::ng-deep {
    .select-button {
      min-width: 0;
      width: 8rem;
      padding: 0.6rem 1rem;
    }
  }
  ::ng-deep nb-button-group .appearance-filled.status-primary[nbButtonToggle]   {
      background-color: $dark-palette !important;
      border-color: $dark-palette !important;
  }
  margin: 1rem 0;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
::ng-deep nb-option-list {
  nb-option.selected {
    background-color: $dark-palette !important;
  }
}
