@import "src/styles/variables";

div.container {
  display: flex;
  justify-content: center;
  padding: 10vh 5rem 0;

  @include medium() {
    padding: 3vh 1rem 0;
  }
}

::ng-deep nb-chat .header {
  border-top-left-radius: 0;
}

nb-card {
  border-bottom-right-radius: 0;
  margin: 0;
}

app-message-list {
  height: 80vh;
  max-height: 40rem;
  width: 40rem;

  @include medium() {
    max-height: unset;
  }
}

nb-list, nb-card {
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: $medium-palette;
  height: 80vh;
  max-height: 40rem;

  @include medium() {
    max-height: unset;
  }
}

nb-list {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 10rem;

  @include small() {
    width: 4rem;
  }
}

nb-list-item,
::ng-deep nb-list nb-list-item:first-child {
  border-top: none!important;
  border-bottom: darken($medium-palette, 10%) 1px solid;
  color: #fff;
  transition: 0.3s;
  position: relative;
}

nb-list-item:hover,
::ng-deep nb-list nb-list-item:first-child:hover {
  background-color: lighten($medium-palette, 5%);
}

nb-list-item:hover nb-badge {
  background-color: lighten($highlight-palette, 5%);
}

::ng-deep .nb-theme-default nb-badge.status-basic {
  position: absolute;
  margin-right: 10px;
  background-color: $highlight-palette;
  color: #fff;
  font-weight: lighter;
  transition: 0.3s
}
